html { font-family: sans-serif; background: #bcbbad; padding: 2rem; }
body { max-width: 1100px; margin: 0 auto; background: #45281; border: 8px ridge #3c2904; box-shadow:  15px 15px 20px 8px #101e3a91;}
h1 { font-family: serif;  color: #7d5303; margin: 1rem 0; }
a { color: #45290e;
   background-image: linear-gradient(
    to right,
    #f8f1d9,
    #fadf6d 50%,
    #43300a 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #a4292900;
  transition: all 0.3s ease-in-out;}
a:before{
  content: '';
  background: #f8f1d975;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;}

a:hover {background-position: 0;}

a:hover::before{width: 100%;}

hr { border: none; border-top: 1px solid lightgray; }
nav {background: #aaab7ea3;/* display: flex; */align-items: center;padding: 0 0.5rem;}
nav h1 {flex: auto; margin: auto 30%;}
.brains {font-weight: 100; font-size: 65px; font-variant: all-petite-caps;  color: #f0cca9; text-shadow: 2px 2px 2px black;}
.games {font-family: fantasy; font-weight: 500; font-size: 85px; font-variant: all-small-caps;  text-shadow: 4px 12px 2px #00000082, 2px 3px 1px #040404, 5px 6px 3px #493e0b;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: auto 37% ; align-items: center; padding: 7px; font-size: 20px;}
nav ul li a, nav ul li span, header .action { display: inline-flex; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; background: #46470b;}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; color: #ebcea8;}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; color: antiquewhite}
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }