html {
    font-family: sans-serif;
    background: #bcbbad;
    padding: 2rem;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    background: #4455220a;
    border: 8px ridge #3c2904;
    box-shadow: 15px 15px 20px 8px #101e3a91;
}

h1 {
    font-family: serif;
    color: #7d5303;
    margin: 1rem 0;
}

a {
    color: #45290e;
    background-image: linear-gradient(
            to right,
            #f8f1d9,
            #fadf6d 50%,
            #43300a 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #a4292900;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: #f8f1d975;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

p {
    color: #674810;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    font-size: 20px;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: #aaab7ea3; /* display: flex; */
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: auto 30%;
}
.action {
    background-image: linear-gradient(
            to right,
            #aba11b,
            rgba(197, 151, 54, 0.85) 50%,
            #c58401 50%
    );
    color: #7c6957;
}
.brains {
    font-weight: 100;
    font-size: 65px;
    font-variant: all-petite-caps;
    color: #f0cca9;
    text-shadow: 2px 2px 2px black;
}

.games {
    font-family: fantasy;
    font-weight: 500;
    font-size: 85px;
    font-variant: all-small-caps;
    text-shadow: 4px 12px 2px #00000082, 2px 3px 1px #040404, 5px 6px 3px #493e0b;
}

#gandb {
    cursor: pointer
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 7px;
    font-size: 20px;
}

nav ul li a, nav ul li span, header .action {
    display: inline-flex;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    background: #46470b;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1, h2 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    color: #ebcea8;
}
.content p {
    color: #ebcea8;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
.post {
    margin-top: 1rem;
    background-color: #fefefe;
    border: solid #7c6957;
}
.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
    background-color: #f8f1d9;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    padding-left: 1rem;
    font-size: 2.5em;
    margin-bottom: 0;
    color: #43300a;
    font-variant: all-small-caps;
}

.post .about {
    padding-left: 1rem;
    color: slategray;
    font-style: italic;
}

.post .body {
    padding-left: 1rem;
    white-space: pre-line;

}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: antiquewhite
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.contact form {
    margin-top: 0px;
    padding: 0px 30px;
}

.contact h3 {
    color: #488ace;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact p {
    margin: 0 0px 10px;
}

.contact label {
    display: none;
}

.contact input {
    width: 100%;
    border: none;
    border: 1px solid #dddddd78;
    padding: 10px;
    border-radius: 4px;
}

.contact textarea#message {
    width: 100%;
    height: 122px;
    border: 1px solid #dddddd78;
    border-radius: 4px;
    padding: 10px;
}

.contact input#submit {
    color: white;
    background: linear-gradient(0.25turn, #2a78ca, #71a1d4);
    float: right;
    border: none;
    border-radius: 4px;
    padding: 15px 23px;
    /* margin-right: 10px; */
    box-shadow: 0px 0px 4px 0px #00000087;
    margin-top: 15px;
}
.accordion {
    padding-top: 2rem;
}
#faq, .accordion-header {
    background-color: transparent;
    margin-top: 0;
}
.accordion-button {
color: #42372c;
    background-color: #e3dea1;
}
.accordion-button:not(.collapsed) {
    color:#fefefe;
    background-color:#a49a08e0;
    box-shadow: #aba11b;
}
.accordion-item {
    color: #7c6957;
    border: solid #f8f1d9;
}
.card-body p {
    color: #3c2904;
    background-color: rgba(124, 105, 87, 0.09);
    padding: 1rem;
    font-size: 15px;
}
.faq h2 {
    padding-top: 4rem;
}