{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Account{% endblock %}</h1>
{% endblock %}
{% block content %}
    <!--Creates register new user form-->
    <form method="post">
        <label for="name">First Name</label>
        <input name="name" id="firstname" required>
        <label for="name">Last Name</label>
        <input name="name" id="lastname" required>
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" required>
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
{% endblock %}