<!doctype html>
<title>{% block title %}{% endblock %} - Brains&Games</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <div class = "container text-center">
        <h1><span class="brains">Brains</span><span class="games">&Games</span></h1>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>